/* wwwroot/swagger-dark.css */

body {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}

.swagger-ui {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}

    .swagger-ui .topbar {
        background-color: #1e1e1e !important;
    }

    .swagger-ui .opblock {
        background-color: #1e1e1e !important;
        border-color: #333 !important;
    }

    .swagger-ui .opblock-summary {
        background-color: #262626 !important;
    }

    .swagger-ui .scheme-container {
        background-color: #1e1e1e !important;
    }

    .swagger-ui .btn, .swagger-ui select {
        background-color: #333 !important;
        color: #e0e0e0 !important;
        border-color: #444 !important;
    }
